@using GitTest.Models
@model IEnumerable<Order>

<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Provider</h2>
    <p><a asp-action="Create">Добавить Запись</a></p>
    <table class="table" border="1" cellpadding="5">
        <tr style ="background-color: silver">
            <th>Id</th>
            <th>Number</th>
            <th>Date</th>
            <th>name.orders</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Number</td>
                <td>@p.Date</td>
                @foreach (var q in p.Orders1)
                {
                    <td>@q.Name</td>
                }
            </tr>
        }
        </table>

</body>

</html>